//
// General
// --------------------------------------------------

html {
    box-sizing: border-box;

    *, *::before, *::after {
        box-sizing: inherit;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;

    background-color: get-brand-color('roos');
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background-color: get-brand-color();
}

::selection {
    text-shadow: none;
    color: #fff;
    background-color: get-brand-color();
}

main {
    overflow-x: hidden;
}

a {
    transition: color 0.2s ease-out;
    text-decoration: none;
    color: get-gray-color('darker');

    &:hover, &:focus {
        color: get-gray-color('dark');
    }

    &.link-unstyled {
        transition: none;
        color: inherit;

        &:hover, &:focus {
            color: inherit;
            text-decoration: none;
        }
    }
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0 none;
    cursor: pointer;
}

.pattern-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -4;

    min-width: 100%;
    width: 100vw;
    min-height: 100%;
    height: 100vh;

    background-image: url('../images/hexpattern.svg');
    background-size: 20px;

    opacity: 0.9;
}

.container--small {
    position: relative;

    max-width: 40rem;
    width: 100% !important;
    margin: 0 auto;
    padding: 0 1.5rem;

    @media (min-width: $breakpoint--md) {
        max-width: 60rem;
    }
}