$l: "section";

.#{$l}--triangle {
    position: relative;

    max-width: 1600px;
    margin: 110px auto 350px auto;

    &:before,
    &:after {
        content: '';

        position: absolute;
        left: 50%;

        display: block;
        width: 0;
        height: 0;

        border-left: 800px solid transparent;
        border-right: 800px solid transparent;


        transform: translate3d(-50%,0,0);
    }

    &:before {
        top: -120px;

        border-bottom: 120px solid get-gray-color('lightest');
    }

    &:after {
        bottom: -120px;

        border-top: 120px solid get-gray-color('lightest');
    }
}